
@import url('reset.css');

.wrapper{
	color: green;
}

.wrapper > div{
	text-decoration: underline;
}

.wrapper div ul li{
	color: red;
}

.btn{
	border: 1px solid red;
	background: blue;
}

.pclass{
	font-weight: bold;
	font-size: 20px;
}

.pclass.xyz{
	text-decoration: underline;
}

#id-dd{
	color: red;
}

#first-table{
	border: 5px;
	border-color: red;
	border-style: double;
}

#top-h1{
	color: green;
}

#middle-h1{
	color: yellow;
}

.textbox{
	width: 250px;
	font-weight: bold;
	font-style: italic;
	color: red;
}

select {
	width: 200px;
	height: 25px;
	color: green;
}
