<html>

<head>
    <title>CSS - Position</title>

    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="fixed">
        This is fixed element
    </div>

    <div class="wrapper" id="wrapper">
        <div class="header">
            <div class="logo">
                <img src="images/swastik.png" />
            </div>
            <div class="company-name">
                <h2>Swastik College</h2>
            </div>
        </div>

        <div class="navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li>
                    <a href="#">About</a>
                    <ul>
                        <li>About us 1</li>
                        <li>About us 2</li>
                        <li>About us 3</li>
                    </ul>
                </li>
                
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="content">
            <div class="left-sidebar">
                <div class="adv">
                    Advertiesements
                </div>
            </div>

            <div class="page">
                <h1>Page Name</h1>

                <div class="box">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

</p>

                    <a href="#" class="show">Show Text</a>
                    <div class="hidden">
                        Hidden div
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            &copy; copyright at company name
        </div>
    </div>
</body>

</html>